body { background:url(../images/bgbody.jpg) }
      
body {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 5px 100px;
	font-size: 13px;
}
.banner{
	text-align:right;
	background:url(../images/logo.png) no-repeat;
	width:1020px;
	height:144px;
	border-radius:10px 10px 10px 10px;
	display:inline-block;
	float:left;
}
#tool-tip{
	display:inline-block;
	width:671px;
	height:144px;
	background:rgba(255,255,255,.1);
	border-radius:0px 10px 10px 0px;
}
.menu{
  background:green url(../images/bg.png) repeat-x 0 -110px;
	width:1010px;
	height:50px;
	position:relative;
	z-index: 2;
	display:block;
	border-radius:10px 10px 0px 0px;
	border:5px solid rgba(41,41,41,.5);
	text-align:right;
}
#contenido{
	position:relative;
	z-index: 1;
	display:block;
	background:rgba(200,200,200,.9);
	width:1000px;
	min-height:450px;
	max-height:auto;
	padding:10px;
	border-radius:0px 0px 10px 10px;
	box-shadow: 5px 4px 15px 1px;
  }
div.ventana {
	background: transparent;
	min-width:1020px;
	max-width:1020px;
	display:block;
}
.visor_sucesos{
 /*	background:black;
	width:500px;
	height:300px;
	color:white;
	overflow-y:scroll;
*/	
	
	background:url(../images/fondo_consola.png)repeat;
	color:#FFFFFF;
	width:400px;
	height:300px;
	position:absolute;
	
	border-radius:10px 10px 10px 10px;
	border:5px solid rgba(41,41,41,.5);
	overflow-y:scroll;
}
.visor_botones{
 /*	background:black;
	width:500px;
	height:300px;
	color:white;
	overflow-y:scroll;
*/	
	
	background:#000000;
	color:#FFF5F5;
	width:380px;
	height:20px;
	position:inline;
	
}
